
/*  mediya wuarry csss start*/

@media only screen and (max-width: 480px) {
   /*  hero css start */
.hero-section{
    width: 100%;
    height: 50vh;
   }
   .hero-wraper{
       grid-template-columns:  1fr;
   }
   .hero-content{
    text-align: center;
   }
   .hero-content h5{
       letter-spacing:5px;
   }
   .hero-content h1{
       font-size: 2rem;
   }
   
  }
  /*  hero css end  */
/*  why-chose  mobile css  start */
  @media only screen and (max-width: 480px) {
    

.why-chose-wraper{
    grid-template-columns:1fr;

}

  .comon-header h5{
    font-size: 14px;
  }
  .comon-header h2{
    font-size: 1rem;
  }
  }
  /*  why-chose us mobile  css end  */

  /* /* WHAT WE CAN OFFER  modile css start  */
  @media only screen and (max-width: 480px) {

.offer-wraper{
    grid-template-columns:1fr;
    grid-gap: 2rem;
}
.offer-content{
    height: 20vh;
    padding: 25px 0;
    text-align: center;
}
  }
 /* WHAT WE CAN OFFER  modile css end   */

/*  big -offer section mobile  sss start */
 @media only screen and (max-width: 480px) {
  .big-wraper{
    display: flex;
    grid-template-columns: 1fr ;
    grid-gap: 1rem;
}
.big-offer-img img{
    width: 100%;
}
.big-offer-content{
  text-align: center;
}
.big-offer-content h1{
   font-size: 15px;
}
.big-offer-content i{
    font-size: 1rem;
}
 }
/*  big -offer section mobile  css end  */

@media only screen and (max-width: 480px) {
/*  apmointment section css start */
.Appointment-section{
  width: 100%;
  height:100vh;

}
.apmointment-wraper{
  display: grid;
  height: 100%;
}

.apoinment-content h1{
  font-size: 1rem;
}
.apoinment-content h6{
font-size: 10px;
}
.apoinment-content a{
  padding: 10px 15px;
}
}

/*  apmointment section css end */

@media only screen and (max-width: 480px) {
  .pricing-wraper{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    grid-gap: 1rem;
}
.card-content{
  margin-top:  4rem;
  justify-content: center;
  align-self: center;
}
.card-content h4{
  color: var(--white-color);
  margin-bottom:1.5rem;
}
.card-content h1{
  font-size: 1.7rem;
}

.card{
  width: 100%;
  height: 70vh;

}
}
/*  mediya wuarry csss end */

